<div class="second-fourth">

  <div class="well col-sm-4 col-sm-offset-1">
    <h3>Known Bugs & Wish List</h3>
    <ul>
      <li>If trying to login with Facebook with the same email address already in the database, duplicate entry error screen appears. Need logic to tell user that their email address is already in the database.</li>
      <li>When not signed in, the user clicks ‘Give Kudos’ 'Add Company', 'Edit Company' and is presented with a sign in page. After submitting the sign in page, the user should be redirected to the ‘Give Kudos’ page the 'Add Company' or the 'Edit Company' page. (NOTE: Not sure how to fix.)</li>
      <li>When adding a new company, a valid address is required or you will get an undefined method error.</li>
    </ul>
  </div>

</div>
