  <div class="first-fourth">
  <h1>TechKudo</h1>
  </div>

  <div class="second-fourth">
    <div class="well col-sm-4 col-sm-offset-1">
      Look, I'm in a well!<br>
      Look, I'm in a well!<br>
      Look, I'm in a well!<br>
      Look, I'm in a well!<br>
    </div>
    <div class="well col-sm-4 col-sm-offset-2">
      Look, I'm in a well!<br>
      Look, I'm in a well!<br>
      Look, I'm in a well!<br>
      Look, I'm in a well!<br>
    </div>
  </div>

  <div class="third-fourth">
  </div>

  <div class="fourth-fourth">
    <div class="well col-sm-4 col-sm-offset-1">
      Look, I'm in a well!<br>
      Look, I'm in a well!<br>
      Look, I'm in a well!<br>
      Look, I'm in a well!<br>
    </div>
    <div class="well col-sm-4 col-sm-offset-2">
      Look, I'm in a well!<br>
      Look, I'm in a well!<br>
      Look, I'm in a well!<br>
      Look, I'm in a well!<br>
    </div>
  </div>