  <div class="second-fourth">
    <div class="well col-sm-4 col-sm-offset-1">
      <h3>Home:</h3>
      <ul>
        <li>Style home page and include text content.</li>
      </ul>

      <h3>NavBar:</h3>
      <ul>
        <li>When searching from navbar in small screen, not all companies appear. Example, search for ‘Bl’ and 3 companies appear, but “blu” only shows one company where there are 3 companies with ‘Blue’ in name.</li>
        <li>Once logged in, the 'Sign In' will change to user avatar and a dropdown which will include link to provide and log out.</li>
      </ul>
    </div>
    <div class="well col-sm-4 col-sm-offset-2">
      <h3>Companies:</h3>
      <ul>
        <li>The map info covers up the links in footer.</li>
        <li>Scroll to bottom of left column and notice how the footer nav bar moves up.</li>
        <li>Style the ‘Add Company’ link.</li>
        <li>Update media query to add margin under the title ’Technology Companies' in left column.</li>
        <li>Change hover style in left column.</li>
        <li>Add if statements on left column to compress for any blank fields.</li>
        <li>Allow the company name in left column to be linkable to company show page.</li>
      </ul>

      <h3>Give Kudos:</h3>
      <ul>
        <li>Style page or make it a model.</li>
        <li>Style validations to look the same.</li>
        <li>Media Query is needed. For example, when shrinking to smaller window, part of the form is hidden</li>
        <li>When not signed in, the user clicks ‘Give Kudos’ and is presented with a sign in page. After submitting the sign in page, the user should be redirected to the ‘Give Kudos’ page.</li>
      </ul>
    </div>
  </div>

  <div class="fourth-fourth">
    <div class="well col-sm-4 col-sm-offset-1">
      <h3>File Upload:</h3>
      <ul>
        <li>Would like feature for user to crop images on/after upload.</li>
      </ul>

      <h3>Profile:</h3>
      <ul>
        <li>Need a profile page with image upload. The image should be viewable next to the kudos they give.</li>
      </ul>
    </div>
    <div class="well col-sm-4 col-sm-offset-2">
      <h3>Sign In:</h3>
      <ul>
        <li>Sign In with Facebook is not working.</li>
        <li>If signed in with Facebook, grab their profile image for the kudos they give.</li>
      </ul>

      <h3>Wish List:</h3>
      <ul>
        <li>Image gallery for each company.</li>
        <li>Rating system.</li>
        <li>Add search to filter by city, state, zip. -SOLR Gem</li>
        <li>Add link to the form 'add company’ in the search field.</li>
      </ul>
    </div>
  </div>