<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<br>

<!-- <iframe width='100%' height='500px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/cubicalweb.iejodo9f/attribution,zoompan,zoomwheel,geocoder,share.html'></iframe>

<br>

<iframe width='100%' height='500px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/cubicalweb.iek58a13/attribution,zoompan,zoomwheel,geocoder,share.html'></iframe> -->

<br>

