/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-theme
 *= require rails_bootstrap_forms
 *= require jquery.ui.autocomplete
 *= require_tree .
 *= require_self
 */


body {
  margin-top: 60px;
}

.navbar-right {
  padding-right: 20px;
}

.closeby-company {
  background-color: #E6E9EF;
  border-color: #24395D #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-radius: 5px;
  border-right: 1px solid #CCCCCC;
  border-style: solid;
  border-width: 4px 1px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.4s ease 0s;
}

.closeby-company, .company-detail h2, h3 {
  margin-top: 0;
}

.company-detail-wrapper h2, h3 {
  margin-top: 0;
}

.company-container {
  background-color: #E6E9EF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  border: 1px dashed red;
}

.company-icon-wrapper {
  float: left;
  line-height: 0;
  margin-right: 20px;
  border: 1px dashed red;
}

.company-detail-wrapper {
  float: left;
  border: 1px dashed red;
}

.kudo-container {
  background-color: #E6E9EF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  overflow: hidden;
  border: 1px dashed red;
}

.kudo-icon-wrapper {
  float: left;
  line-height: 0;
  margin-right: 20px;
  border: 1px dashed red;
  display: inline-block;
  vertical-align: top;
}

.kudo-detail-wrapper {
  float: left;
  border: 1px dashed red;
  display: inline-block;
  vertical-align: top;
  max-width: 80%;
}

li.kudo {
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #F5F3F1;
}

ul.kudo-list {
  padding-left: 0;
}
